<div class="card ">
    <h5 class="m-0 p-3 card-title bg-white border-bottom">Marques</h5>
    <div class="py-2 px-3">
        <label class="p-1 mt-2 d-flex align-items-center">
            <span class="checkbox">
                <span class="check-box mb-0">
                    <span class="ckbox"><input checked="" type="checkbox"><span></span></span>
                </span>
            </span>
            <span class="ml-2">
                Foot wear
            </span>
        </label>
        <label class="p-1 d-flex align-items-center">
            <span class="checkbox">
                <span class="check-box mb-0">
                    <span class="ckbox"><input type="checkbox"><span></span></span>
                </span>
            </span>
            <span class="ml-2">
                Top wear
            </span>
        </label>
        <label class="p-1 d-flex align-items-center">
            <span class="checkbox">
                <span class="check-box mb-0">
                    <span class="ckbox"><input type="checkbox"><span></span></span>
                </span>
            </span>
            <span class="ml-2">
                Bottom wear
            </span>
        </label>
        <label class="p-1 d-flex align-items-center">
            <span class="check-box mb-0">
                <span class="ckbox"><input checked="" type="checkbox"><span></span></span>
            </span>
            <span class="ml-2">
            Accessories
            </span>
        </label>
        <label class="p-1 d-flex align-items-center">
            <span class="checkbox">
                <span class="check-box mb-0">
                    <span class="ckbox"><input type="checkbox"><span></span></span>
                </span>
            </span>
            <span class="ml-2">
                Furniture
            </span>
        </label>
        <label class="p-1 d-flex align-items-center">
            <span class="check-box mb-0">
                <span class="ckbox"><input checked="" type="checkbox"><span></span></span>
            </span>
            <span class="ml-2">
                Electronics
            </span>
        </label>
    </div>
</div>
<!-- <div class="card overflow-hidden">
</div>
 <div class="card overflow-hidden">
</div>
</div> -->