<div class="product-card card overflow-hidden">
    <img class="w-100 mt-0" src="assets/img/ecommerce/01.jpg" alt="product-image"/>
    <div class="card-body h-100">
        <div class="d-flex">
            <span class="text-muted small mg-b-5">planters</span>
            <span class="ml-auto"><i class="fa fa-heart text-danger"></i></span>
        </div>
        <h3 class="h6 mb-2 font-weight-bold text-uppercase">Flower Pot</h3>
        
        <div class="d-flex">
        
            <h4 class="h5 w-50 font-weight-bold text-danger">25 </h4>
            
        </div>
        <div class="d-flex">
            <i class="fe fe-shopping-cart mr-1"></i>
            <i class="fe fe-shopping-cart mr-1"></i>
        </div>
        <button class="btn btn-primary btn-block mb-0 mt-4">
            Voir
            <a class="side-menu__item" href="product-details.html">
            </a>
        </button>
    </div>
</div>